[flake8]
max-line-length = 120
extend-ignore =
    E203,
    W503,
    E402,
    E701, E702,
    F811
exclude =
    .git,
    __pycache__,
    venv,
    venv_new,
    .venv,
    env,
    .env,
    build,
    dist,
    pandas-ta,
    Web,
    node_modules

per-file-ignores =
    __init__.py:F401
    gui/gui.py:E501,F401,F541,E231
    tests/*:E501
    tests/*/*.py:E501,E402,F401,F811,F841
    core/*.py:E501,F541,E231,F401,F841,E722
    models/*:E501,F401,F541,F841,E722
    config.py:E501,F841
    scripts/*:E501,F401,F841
    main.py:F401
    serve_web.py:E501,F841
    serve_public_api.py:E501,F841,F821
